*,
*::before,
*::after {
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Universal Selectors****************/

h3,h4 {
  font-family: "Verdana", verdana, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
}

/*Class Selectors********************/
.title {
  background-color: #FFCE99;
  padding: 1px 0px 10px 10px;
  margin: 10px 10px 5px 10px;
}

.flexed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.friend-tile {
  flex: 1 0 20%;
  color: blue;
  text-align: center;
  /*display: inline-block;*/
  margin-left: 35px;
  margin-right: 10px;
}

.image-tile {
  height: 200px;
  width: 200px;
  border: 2px solid blue;
  object-fit: cover;
}

.online-gif {
  object-fit: contain;
  width: 120px;
  height: 50px;
  margin-top: -5px;
  margin-bottom: 20px;
}

.footer {
  color: red;
  float: right;
  margin-right: 10px;
}


/*Id Selectors***********************/
 #title-text {
   color: #D3693D;
 }

#subtitle {
  padding-left: 20px;
}


/*Media Queries**********************/
